*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;
}

.luz{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    box-shadow:-1px -3px 20px 14px #f6f4a5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.lampada{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
}